@CHARSET "UTF-8";

body
{
    font-family: Avnir, Helvetica, Arial;
    font-size: 16px;
    color: black;
    min-width:320px;    
    font-weight: 500;
    padding:0;
    margin:0;
    color: #5e5e5e;
    background-color:#ffffff;
}

a{
    text-decoration: none;
    color: #4e4e4e;
}

ol, ul {
    list-style: none;
}

.header {
	width: 100%;
	height: 63px;
	background-color: #404040; /* layer fill content */
}


.txt_lyricsyo {
	color: #fff; /* text color */
	font-family: "Avenir";
	font-size: 21px;
}

.txt_header_large {
	color: #3f3f3f; /* text color */
	font-family: "Avenir";
	font-size: 44px;
}

.txt_normal{
	color: #5e5e5e; /* text color */
	font-family: "Avenir";
	font-size: 17px;
        font-weight:500;
}

.txt_normal.link{
        color:#11b9ff;
}

.div_holder{
    display:block;
    max-width:60em;
    text-align: center;
    margin-top:3em;
}

.div_title_line {
        display:inline-block;
        margin-left:0.5em;        
        margin-right:0.5em;        
	width: 276px;
	height: 2px;
	background: #ddd; /* layer fill content */
        border-bottom:#ffffff;
        border-bottom-width: 4px;
        border-bottom-style: solid;
}

.carousel_holder
{
    width:900px;
    height: 200px;
    margin-left:auto;
    margin-right:auto;
    background-color: #fff;
}

.scrollable
{
        overflow: auto;    
	height:19em;	
	z-index:1;
}

.report_holder
{
    width:900px;
    height: 380px;
    margin-right:auto;
    margin-left:auto;
}

.artist_holder {
    margin-left:auto;
    margin-right:auto;
    width:152px;
    height:152px;
    text-align:center;
}

.artist_holder_small {
    margin-left:auto;
    margin-right:auto;
    width:100px;
    height:100px;
    text-align:center;
}

.artistHolderWrapper
{
    width: 175px;
    height: 175px;
    background-color:white;
    display:inline-block;
}

.artistSmallHolderWrapper
{
    width: 215px;
    height: 215px;
    background-color:white;
    display:inline-block;
}

.artist_txt_holder {
    margin-left:auto;
    margin-right:auto;
    width:175px;
    text-align:center;
}

.txt-artist-name {
	color: #5e5e5e; /* text color */
	font-family: "Avenir";
	font-size: 18px;
        font-weight:800;
        text-align:center;
        padding-left:10px;
}

.txt_cuss_words
{
    color: #949494;
    font-style: italic;
    font-size: 15px;
    font-weight:400;
    text-align:center;
    padding-left:14px;    
}

.carousel_position
{
    width: 15px;
    height: 15px;	
    margin-left:5px;
    margin-right:5px;	 
    border-radius: 8px;
    background-color:black;
    display:inline-block;
  }

.carousel_position.on
{
    background-color: #449fec;
    background-image: -moz-linear-gradient(90deg, #8dc9fb 0%, #449fec 100%); /* gradient overlay */
    background-image: -o-linear-gradient(90deg, #8dc9fb 0%, #449fec 100%); /* gradient overlay */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #449fec), color-stop(100%, #ffffff));
    background-image: -webkit-linear-gradient(90deg, #8dc9fb 0%, #449fec 100%); /* gradient overlay */
    background-image: linear-gradient(90deg, #8dc9fb 0%, #449fec 100%); /* gradient overlay */     
}


.leftButton
{
    margin-left:40px;
    width: 36px;
    height: 13px;
    background-image: url('/images/left_normal.png');
    background-size: 100%;
    background-repeat: no-repeat;      
    z-index:10;
    display:inline-block;	
}

.rightButton
{
    width: 36px;
    height: 13px;
    background-image: url('/images/right_normal.png');
    background-size: 100%;
    background-repeat: no-repeat;  
    margin-bottom:3px;
    z-index:10;
    display:inline-block;
    float:right;
}

.line {
	width: 960px;
	height: 2px;
	background-color: #ddd; /* layer fill content */
}

.txt-orange {
	color: #ff8161; /* text color */
	font-family: "Avenir";
	font-size: 27px;
}

.txt-artist-title {
	color: #858585; /* text color */
	font-family: "Avenir";
	font-size: 20px;
        font-weight: 500;
        width:180px;
        text-align:center;
}

.txt-artist-title.alt{
    color: #414141;
}