@CHARSET "UTF-8";

body
{
    font-family: Avnir, Helvetica, Arial;
    font-size: 16px;
    color: black;
    min-width:320px;    
    font-weight: 500;
    padding:0;
    margin:0;
    color: #5e5e5e;
    background-color:#ffffff;
}

a{
    text-decoration: none;
    color: #4e4e4e;
}

ol, ul {
    list-style: none;
    overflow:visible;
}

.header {
	width: 100%;
	height: 63px;
	background-color: #404040; /* layer fill content */
}


.txt_lyricsyo {
	color: #fff; /* text color */
	font-family: "Avenir";
	font-size: 21px;
}

.txt_header_large {
	color: #3f3f3f; /* text color */
	font-family: "Avenir";
	font-size: 44px;
}

.txt_normal{
	color: #5e5e5e; /* text color */
	font-family: "Avenir";
	font-size: 19px;
        font-weight:500;
}

.txt_normal.link{
        color:#11b9ff;
}

.div_holder{
    display:block;
    max-width:60em;
    text-align: center;
    margin-top:3em;
}

.div_title_line {
        display:inline-block;
        margin-left:0.5em;        
        margin-right:0.5em;        
	width: 276px;
	height: 2px;
	background: #ddd; /* layer fill content */
        border-bottom:#ffffff;
        border-bottom-width: 4px;
        border-bottom-style: solid;
}

.carousel_holder
{
    max-width:900px;
    margin-left:auto;
    margin-right:auto;
    background-color: #fff;
}

.scrollable
{
        overflow: auto;    
	height:19em;	
	z-index:1;
}

.report_holder
{
    width:900px;
    margin-right:auto;
    margin-left:auto;
}

.artist_holder {
    margin-left:auto;
    margin-right:auto;
    width:152px;
    height:152px;
    text-align:center;
    z-index:1;
}

.artist_holder_small {
    margin-left:auto;
    margin-right:auto;
    width:100px;
    height:100px;
    text-align:center;
    z-index:1;
}

.artistHolderWrapper
{
    width: 175px;
    margin-right:2px;
    margin-left:2px;
    background-color:white;
    display:inline-block;
    vertical-align: top;
    z-index:1;
}

.display-inline-block{
    display:inline-block;
    vertical-align:top;
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 430px) {
    .display-inline-block
    {
        margin-top:0.4em;
        display:inline-block;
        width:100%;
    }
}
.artistSmallHolderWrapper
{
    width: 215px;
    background-color:white;
    display: table; margin: 0 auto;
    vertical-align: top;
}


.artist_small_txt_holder {
    margin-left:auto;
    margin-right:auto;
    width:215px;
    text-align:center;
}

.artist_txt_holder {
    margin-left:auto;
    margin-right:auto;
    width:175px;
    text-align:center;
}

.txt-artist-name {
	color: #5e5e5e; /* text color */
	font-family: "Avenir";
	font-size: 18px;
        font-weight:800;
        text-align:center;
        padding-left:10px;
}

.txt_cuss_words
{
    color: #949494;
    font-style: italic;
    font-size: 15px;
    font-weight:400;
    text-align:center;
    padding-left:14px; 
    line-height: 19px;
    
}

.carousel_position
{
    width: 12px;
    height: 12px;	
    margin-left:5px;
    margin-right:5px;	 
    border-radius: 6px;
    background-color:black;
    display:inline-block;
  }

.carousel_position.on
{
    background-color: #ff9174; 
}


.leftButton
{
    margin-left:5px;
    width: 36px;
    height: 13px;
    background-image: url('/images/left_normal.png');
    background-size: 100%;
    background-repeat: no-repeat;      
    z-index:10;
    display:inline-block;	
}

.rightButton
{
    margin-right:5px;
    width: 36px;
    height: 13px;
    background-image: url('/images/right_normal.png');
    background-size: 100%;
    background-repeat: no-repeat;  
    margin-bottom:3px;
    z-index:10;
    display:inline-block;
    float:right;
}

.line {
	width: 900px;
	height: 2px;
	background-color: #ddd; /* layer fill content */
}

.txt-orange {
	color: #ff8161; /* text color */
	font-family: "Avenir";
	font-size: 27px;
}

.txt-artist-title {
	color: #858585; /* text color */
	font-family: "Avenir";
	font-size: 20px;
        font-weight: 500;
        width:180px;
        text-align:center;
}

.txt-artist-title.alt{
    color: #414141;
}

.topCircleHolder
{    
    margin-left:9px;
    margin-right:auto;
    width:195px; height:195px;
    vertical-align:middle;     
    border-color:#dedede;
    border-style:solid; 
    border-width:2px; 
    border-radius:97.5px;
}

.topCircleHolder:hover{
    border-color: #ff9174; 
}


.circleHolder
{    
    vertical-align:middle; margin-left:2px; border-color:black; border-style:solid; border-width:1px; border-radius:76px;
}

.circleHolder:hover{
    border-color: #ff9174; 
}

.txt_infograph{
    font-size:96px;
    color: #696969;
}

.txt_infograph.position
{
    position:absolute; 
    text-align:center;
    width:215px;
    margin-left:-8px;
    margin-top:0px;    
}

.img_emotion_position{
    margin-left:74px; margin-top:20px;    
}

.socialHolder{
    display:inline-block;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    line-height: 35px;    
    vertical-align: middle;
}

.txtSpan{
    text-align:center;   
}

#logo-text-processing{
    margin-left:0.6em;
    margin-right:0.6em;    
    display:inline-block;
    background-image:url('/images/textprocessing_off.png');
    background-repeat:no-repeat;
    background-size:100%;
    height:37px;
    width:136px;    
}

#logo-text-processing:hover{
    background-image:url('/images/textprocessing_on.png');
}

#logo-mashape{
    margin-left:0.6em;
    margin-right:0.6em;
    display:inline-block;
    background-image:url('/images/mashape_off.png');
    background-repeat:no-repeat;     
    background-size:100%;
    height:37px;
    width:124px;    
}

#logo-mashape:hover{
    background-image:url('/images/mashape_on.png');
}

#logo-musixmatch
{
    margin-left:0.6em;
    margin-right:0.6em;    
    display:inline-block;
    background-image:url('/images/musixmatch_off.png');
    background-size:100%;
    height:37px;
    width:196px;
    background-repeat:no-repeat;    
}

#logo-musixmatch:hover{
    background-image:url('/images/musixmatch_on.png');
}

.spotifyPlayHolder
{
    background-image:url('/images/1px.png');
    opacity:0;
    height:160px;
    width:160px;
    border-radius:76px;
    position:absolute;
    z-index:999;
    margin-left:0;
    margin-right:0;
}

.spotifyPlayButton
{
    opacity:1;
    background-image:url('/images/playspotify.png');
    background-repeat:no-repeat;  
    background-size:100%;
    height:59px;
    width:98px;
    z-index:1000;
    position:absolute;
    margin-left:30px;
    margin-top:50px;
}

.spotifyPlayHolder:hover{
    opacity:1;
}

.spotifyPlayHolderSmall
{
    background-image:url('/images/1px.png');
    opacity:0;
    height:103px;
    width:103px;
    border-radius:76px;
    position:absolute;
    z-index:999;
    margin-left:0;
    margin-right:0;
}

.spotifyPlayButtonSmall
{
    opacity:1;
    background-image:url('/images/playspotify.png');
    background-repeat:no-repeat;  
    background-size:100%;
    height:52px;
    width:90px;
    z-index:1000;
    position:absolute;
    margin-left:7px;
    margin-top:20px;
}

.spotifyPlayHolderSmall:hover{
    opacity:1;
}