/*****TOOLTIP STYLESHEET*****/
/*****BY: AMIT JAKHU*****/
/*****WWW.AMITJAKHU.COM*****/

/*****FONTS*****/

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic,700italic|Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300);


/*****ANIMATIONS*****/

.tooltip {
	transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
}

.tooltip span {
	pointer-events: none;
	opacity: 0;
	filter: alpha(opacity=0);
	transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
        bottom:21px;
}

.tooltip:hover span {
	pointer-events: auto;
	opacity: 1;
	filter: alpha(opacity=100);
	/*bottom: 30px;*/
}

/*****END ANIMATIONS*****/

/*****TOOLTIP*****/

.tooltip {
	font-weight: 700;
	color: #3b3b3b;
	text-decoration: none;
	position: relative;
	display: inline-block;
}

.tooltip:hover {
	color: #ea4816;
}

.tooltip span {
	background: #ff8261;
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	color: #fff;	
	min-width: 100px;
	max-width: 290px;
	padding-left: 15px;
        padding-right: 15px;
	display: block;
	position: absolute;
	z-index: 30;  
        left:-5%;
}

.tooltip:hover span {
	display: block;
}

.tooltip span:before, .tooltip span:after /* Triangle */ {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 50%;
    margin-left: -5px;
    width: 0;
    height: 0;
    display:block;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #ff8261;
    z-index: 29;
}

.tooltip span img {
	max-width: 140px; /* Maximum width of image to display. probably don't want any larger or else it will be too distracting. */
	padding: 6px 0;
	clear: right;
}

/*****END TOOLTIP*****/